[submodule "oklumahmut/public"]
	path = oklumahmut/public
	url = https://github.com/mahmutoklu/mahmutoklu.github.io.git
	branch = main
[submodule "oklumahmut/themes/LoveIt"]
	path = oklumahmut/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
